{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block title %}{% trans "Registration" %}{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css'%}">
{% endblock extra_head %}

{% block content %}
<div class="login-page">
    <div class="form">
        <form action="{% url 'registration_url' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="submit">{% trans "Register" %}</button>
        </form>
    </div>
</div>
{% endblock %}
