*{
    margin:0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
}

#page {
    width: 100%;
}

#header {
    height: 70px;
    width: 100%;
    background-color:#b5dcb3;
}

#content {
    background-color:#eeeeee;
    width:100%;
    float:left;
    padding:5px;
    margin: auto;
}

#footer {
    background-color:#b5dcb3;
    clear:both;
    text-align:center;
    padding:5px;
}

.account {
    float: right;
    padding: 25px;

}