body {
  display: grid;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header, footer, #mainContent {
  padding: 20px;
}
#pageHeader {
  grid-area: header;
  color: #ffffff;
  background-color:#b5dcb3;
}

#pageHeader > #auth_account {
    text-align: right;
}

#pageHeader > #auth_account > a > img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#pageHeader > #auth_account > a {
    color: tomato;
}

#pageHeader > #auth_account > a:hover {
    color: white;
}

#pageFooter {
  grid-area: footer;

  text-align: center;
  color: #ffffff;
  background-color:#b5dcb3;
}
#mainContent {
  grid-area: content;
}