* {
    margin: 0;
    padding: 0;
}

body {
    background: #01a3a4;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #FF6600;
}

#wrap {
    width: 100%;
    background: #4CAF50;
    height: 70px;
}

.logo {
    float: left;
    padding: 15px;
}

.account {
    float: right;
    padding: 25px;
}