{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block title %}{% trans "Password reset" %}{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'auth_user/css/form.css'%}">
{% endblock extra_head %}

{% block content %}
<div class="login-page">
    <div class="form">
        <h1>{% trans "Enter new password" %}</h1>

        <p>
            {% blocktrans %}
                Please enter your new password twice we can verify you typed it in correctly.
            {% endblocktrans %}
        </p>

        <form method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit" name="Update Password">{% trans "Update Password" %}</button>
        </form>

    </div>
</div>
{% endblock %}