{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'auth_user/css/form.css'%}">
{% endblock extra_head %}

{% block content %}
<div class="login-page">
    <div class="form">
        <h1>Enter new password</h1>

        <p>Please enter your new password twice we can verify you typed it in correctly.</p>

        <form method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit" name="Update Password">Update Password</button>
        </form>

    </div>
</div>
{% endblock %}