{% extends 'expanded_base.html' %}

{% load static %}

{% block title %}Car Create{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/expanded_base.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css'%}">
{% endblock extra_head %}

{% block other_content %}
<div class="login-page">
    <div class="form">
        <form action="{% url 'car_create_url' %}" method="POST">
            <h3>Create Car</h3>
            {% csrf_token %}

            {{form.as_p}}
            <button type="submit" name="create_button">Create Car</button>
            <a href="{% url 'user_profile_url' pk=request.user.id %}">
                Cancel
            </a>
        </form>
    </div>
</div>
{% endblock %}


