{% extends 'expanded_base.html' %}

{% load static %}

{% block title %}Car Profile{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/expanded_base.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/profile.css'%}">
{% endblock extra_head %}


{% block other_content %}
{% for renting in cars %}
    <p>
        {{renting.user.username}} - {{renting.car.name_en}} -
        {{renting.lease_start_date}} | {{renting.lease_end_date}}
    </p>
{% endfor %}
{% endblock %}
