{% extends 'expanded_base.html' %}

{% load i18n %}

{% load static %}

{% block title %}{% trans "Edit Car" %}{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/expanded_base.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css'%}">
{% endblock extra_head %}


{% block other_content %}
<div class="login-page">
    <div class="form">
        <form action="{% url 'car_edit_url' pk=car.id %}" method="POST">
            {% csrf_token %}

            {{form}}

            <button type="submit">{% trans "Save" %}</button>
            <a href="{% url 'user_profile_url' pk=car.owner_car.id %}">{% trans "Cancel" %}</a>
        </form>
    </div>
</div>

{% endblock %}
